.lg2__aside--left-li {
  display: grid;
  grid-template-columns: 50% 50%;
}
.lg2__aside--head {
  grid-column: span 2;
}
.lg2__rating {
  width: max-content;
}
.lg2__rating--size > label:before {
  font-size: 1.3rem;
}

.lg2__aside--left {
  background-color: var(--theme-white-dark);
  border-top: 0.2rem solid var(--theme-white);
  position: sticky;
  top: 0;
}

.lg2__products--grid {
  display: grid;
  grid-template-columns: 90%;
  justify-content: space-evenly;
  row-gap: var(--margin-md);
  column-gap: auto;
}
@media screen and (min-width: 40rem) {
  .lg2__products--grid {
    grid-template-columns: 40% 40%;
  }

  .lg2__aside--left-li {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .lg2__aside--head {
    grid-column: span 4;
  }
}
@media screen and (min-width: 64rem) {
  .lg2__header {
    grid-area: nav;
  }
  .lg2__main {
    grid-area: con;
  }

  .lg2__footer {
    grid-area: foot;
  }

  .lg2__products--grid {
    grid-template-columns: 31% 31% 31%;
  }
}

@media screen and (min-width: 96rem) {
  .lg2__products--grid {
    grid-template-columns: 22% 22% 22% 22%;
  }
}
/*=====  End of usage layout  ======*/
