/* *************************   This file contains minor fixes that are needed in the library and some overriding css that will help us make custom ui ******************* */

/*=============================================
=            typography            =
=============================================*/

sub {
  font-size: 1ex;
  vertical-align: sub;
}

.tui__text-col--black {
  color: black;
}

.tui__text--strike {
  text-decoration: line-through;
}

/*=====  End of typography  ======*/

.tui__slider {
  width: 90%;
}
.tui__hw--100 {
  height: 100%;
  width: 100%;
}

.tui__input--area {
  resize: none;
  overflow: auto;
  width: 100%;
  padding: var(--button-padding-xs);
  outline: var(--g-border-width-xs) solid var(--body-text-color);
}

/*=============================================
  =            carousel            =
  =============================================*/

.tui__carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.tui__carousel--slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.tui__carousel--slides input {
  display: none;
}

.tui__carousel--slide {
  width: 20%;
  transition: 2s;
}

.tui__carousel--manual-navigation {
  position: absolute;
  width: 100%;
  top: 95%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tui__carousel--manual-btn {
  border: 2px solid var(--primary-col);
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.tui__carousel--manual-btn:hover {
  background: var(--primary-col);
}

#radio1:checked ~ .tui__first {
  margin-left: 0;
}

#radio2:checked ~ .tui__first {
  margin-left: -20%;
}

#radio3:checked ~ .tui__first {
  margin-left: -40%;
}

#radio4:checked ~ .tui__first {
  margin-left: -60%;
}
#radio5:checked ~ .tui__first {
  margin-left: -80%;
}
.tui__card--hor * {
  overflow: visible;
}
.tui__w--100 {
  width: 100%;
}
.tui__active {
  background-color: var(--primary-col);
}
.tui__flex--wrap {
  flex-wrap: wrap;
}
.tui__cursor--pointer {
  cursor: pointer;
}
/*=====  End of carousel  ======*/

/*=====  End of  fixes  ======*/

/*=============================================
=            z index            =
=============================================*/
.tui__z--1 {
  z-index: 1;
}
@media (max-width: 40rem) {
  :root {
    font-size: 0.8rem;
  }
}
/*=====  End of z index  ======*/
